h1 {
    color: #333;
}

.content {
    text-indent: 2em;
    font-size: 14px;
    color: #444;
    line-height: 30px;
}

.content a {
    color: #6cf;
    text-decoration: none;
}

.content li {
    text-indent: 0em;
    list-style: none;
}