body {
    background-image:url('bg.jpg');
        background-size: cover;
        /*height: fit-content;*/
        height: 200vh;
        background-repeat:no-repeat;
        background-position:center;
        padding-top: 5%; padding-left: 2%
}